<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Ryan's tmux cheatsheet</title>
  <link rel="stylesheet" href="style.css">
  <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
  <!--[if IE]>
    <script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>


  <div class="container main">
    <div class="sidebar">
      <header class="header">
        <h1>Ryan's tmux cheatsheet</h1>
      </header>

      <nav class="nav">
        <div class="inner">
          <ul>
            <li><a href="">Main</a></li>
            <li><a href="">Main</a></li>
            <li><a href="">Main</a></li>
          </ul>
        </div>
      </nav>
    </div>
      
    <div class="content">
      <%- content %>
    </div>
  </div>

  <script src="script.js"></script>

</body>
</html>
