html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
b,u,i,center,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary,
time,mark,audio,video{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section{
    display:block;
}
body{
    line-height:1;
}
ol,ul{
    list-style:none;
}
blockquote,q{
    quotes:none;
}
blockquote:before,blockquote:after,
q:before,q:after{
    content:’’;
    content:none;
}
ins{
    text-decoration:none;
}
del{
    text-decoration:line-through;
}
table{
    border-collapse:collapse;
    border-spacing:0;
}

body {
  background-color: #032b35;
  color: #849492;
  font-family: 'Inconsolata', monospace;
  overflow-x: hidden;
}
.container {
  margin: 0 2rem;
}
.header h1 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 3rem 0;
  color: #fff;
}
.main {
  display: grid;
  grid-template-columns: 17rem auto;
  grid-column-gap: 2rem;
}
.main .nav {
  position: sticky;
  top: 2rem;
}
.main .nav .inner {
  border: 1px dashed #849492;
}
.main .content {
}
.nav a,
.content a {
  color: #849492;
  text-decoration: none;
}
.nav a {
  display: block;
  font-size: 1.2rem;
  line-height: 1.2rem;
  padding: 0.5rem 1rem;
}
.nav a:hover {
  color: #bbb;
}
.nav li:first-child a {
  padding-top: 1rem;
}
.nav li:last-child a {
  padding-bottom: 1rem;
}
.content p,
.content pre,
.content h2,
.content h3 {
  margin-bottom: 2rem;
}
.content pre {
  white-space: pre-wrap;
  line-height: 1.5rem;
}
.content h2,
.content h3 {
  font-weight: bold;
  margin-top: -2rem;
  padding-top: 2rem;
}
.content h2 {
  font-size: 1.7rem;
  color: #ddd;
}
.content h3 {
  font-size: 1.4rem;
  color: #bbb;
}
.content p,
.nav a,
.content pre {
  font-size: 1.2rem;
  line-height: 1.5rem;
}
.content p {
}
.content p:first-of-type {
  margin-top: 3rem;
}
