@import "reset";
@import "breakpoints";

$white: #f0f0f0;
$gray: #849492;
$dark-gray: #032b35;

body {
  background-color: $dark-gray;
  color: $gray;
  font-family: 'Inconsolata', monospace;
  overflow-x: hidden;
}
.container {
  margin: 0 2rem;
}
.header h1 {
  text-align: center;
  font-size: 1.7rem;
  font-weight: bold;
  margin: 2rem 0;
  color: $white;
}
.main {
  @include mq($from: tablet) {
    display: grid;
    grid-template-columns: 15rem auto;
    grid-column-gap: 2rem;
  }
  @include mq($from: desktop) {
    grid-template-columns: 18rem auto;
  }
}
.main .nav {
  display: none;
  @include mq($from: tablet) {
    display: block;
    position: sticky;
    top: 2rem;
  }
}
.main .nav .inner {
  border: 1px dashed $gray;
}
.main .content {
  padding-top: 2rem;
}
.nav a,
.content a {
  color: $gray;
  text-decoration: none;
}
.content p a {
  border-bottom: 1px solid $gray;
}
.content p a:hover {
  color: lighten($gray,10);
  border-color: lighten($gray,10);
}
.nav a {
  display: block;
  font-size: 1.2rem;
  line-height: 1.2rem;
  padding: 0.5rem 1rem;
}
.nav a:hover {
  color: lighten($gray,10);
}
.nav li:first-child a {
  padding-top: 1rem;
}
.nav li:last-child a {
  padding-bottom: 1rem;
}
.content p,
.content pre,
.content h2,
.content h3 {
  margin-bottom: 2rem;
}
.content pre {
  white-space: pre-wrap;
  line-height: 1.5rem;
}
.content h2,
.content h3 {
  font-weight: bold;
  margin-top: -2rem;
  padding-top: 2rem;
}
.content h2 {
  font-size: 1.7rem;
  color: lighten($gray,15);
}
.content h3 {
  font-size: 1.4rem;
  color: lighten($gray,8);
}
.content p,
.nav a,
.content pre {
  font-size: 1.2rem;
  line-height: 1.5rem;
}
.content p {
}
.content p code {
  color: $gray;
}
